<section class="background ">
    <div class="container">
<nav class="navbar navbar-expand-md shadow-p3 navbar-light bg-white">
    <a routerLink="/home" class="navbar-brand">
        <h3 class="mb-0 text-primary">Jnet Technologies</h3>
    </a>
    <div class="justify-content-md-end mx-4" id="navbarNav">
        <a class=" btn btn-outline-danger" (click)="logOut()">LogOut</a>
    </div>
</nav>
</div>
<h2 class="text-center text-white bg-primary p-4">Welcome to JnetTechnologies <span class="text-info"> {{name}}</span></h2>
    <div style="display:flex;justify-content: space-around;" class="m-4">
        <div class="p-5">
            <p class="lead ">In an era of digitalization and disruptions in technology, JNET has been successful in adopting and adapting to these rapid evolution’s. We are a unique blend of passionate talent, innovative solutions, world-class processes and a visionary management resulting in high levels of customer satisfaction hence forging long-term partnerships. For over a decade, we have been successfully delivering complex, mission critical and high volume applications using our in-depth technical proficiency and project management capabilities.</p>
            <p class="lead "> We provide services that are powered by a highly motivated workforce who are constantly updating and upgrading to stay ahead with the aggressively transforming dynamics of the digital world. Our expertise in analytics, cloud, IoT and automation help us provide services and solutions that are seamless, highly scalable and secure. Leveraging on your strength in data integration, data analysis and visualization we provide valuable insights to businesses helping them take quick and effective decisions.</p>    
            <p class="lead "> Quality is one of our core values at JNET. Our certifications in ISO 9001:2015, ISO/IEC 27001: 2013, ISO 45001:2018 and CMMI-SVC ML3 stand proof to our commitment towards world-class standards. We have a team of quality experts who ensure that every resource in the company is well appraised of our quality policy and follow them at all levels.</p>
        </div>
    </div>
   
    <div class="jumbotron text-center">
        <h1 class="display-3 text-center text-uppercase">Our <strong>Core Values</strong></h1>
            <div class="row">
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined"  style="font-size: 50px; color: #74b9ff;">link</mat-icon> <br/>
                    <h3 class="text-center text-uppercase custom-weight"><strong>Commited</strong></h3>                                                   
                    <p class="lead ">we are highly commited to our relationships,<br/>both internal and external</p>                     
                </div>
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined" style=" font-size: 50px; color: #55efc4;">groups</mat-icon>
                    <h3 class="text-center text-uppercase custom-weight"><strong>Collaborative</strong> </h3>
                    <p class="lead">We believe in creating greater value<br/> through collaboration and mutual cooperation</p>
                </div>
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined" style=" font-size: 50px; color: #0984e3;">auto_awesome</mat-icon>
                        <h3 class="text-center text-uppercase custom-weight"><strong>Open</strong> </h3>
                        <p class="lead">We work in open atmosphere, have an open  door policy and are quite open to change and diversification.</p>
                </div>
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined" style=" font-size: 50px; color: #9b59b6;">align_vertical_bottom</mat-icon>
                    <h3 class="text-center text-uppercase custom-weight"><strong>Ethical</strong> </h3>
                    <p class="lead">We are transparent and honest in our endeavors.We take pride in handling our issues with courage and integrity</p>
                </div>
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined" style=" font-size: 50px; color: #006d94;">home_repair_service</mat-icon>
                    <h3 class="text-center text-uppercase custom-weight ml-4"><strong>Statutory</strong>  </h3>
                    <p class="lead">We strongly believe in and practice the policy of being a good citizen.we strictly adhere to the statutory / tax paying binding our business.</p>
                </div>
                <div class="col-md-4 p-4">
                    <mat-icon class="material-icons-outlined " style="font-size: 50px; color: #008013;">lconnect_without_contact</mat-icon>
                    <h3 class="text-center text-uppercase custom-weight mx-auto"> <strong>Social</strong> </h3>
                    <p class="lead">We lay great emphasis on giving back to the society.We respond actively during natural disasters and calamities.</p>
                </div>
            </div> 
    </div>
</section>
